.navbar-light .navbar-nav .nav-link{
    color: var(--secondary-color);

}


.navbar-light .navbar-nav .nav-link.active-link{
    color: var(--primary-color);
    text-decoration: underline;
}
.navbar-brand{
    color: blue;
    font-weight: bolder;
   
}
