<div class="container mt-5 mb-5">
    <h1> Contact </h1> <br>
    <form class="col-lg-8"> 
        <div class="row">
            <h5> Enter your name </h5>
            <div class="col-lg-12 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Enter your full name">
                </div>
                <h5> Enter your Email </h5>
                <div class="col-lg-12 mt-2 mb-2">
                    <input type="text" class="form-control" placeholder="Enter your Email">
                </div>
                <h5> Enter your Mobile number </h5>
                <div class="col-lg-12 mt-2 mb-2">
                    <input type="text" class="form-control" placeholder="Enter your Mobile number">
                </div>
                <div class="col-lg-12 mt-2 mb-2">
                    <h5> Enter your message here </h5>
                    <textarea type="text" class="form-control"> </textarea>
                </div>
                <div class="col-lg-12 mt-2 mb-2">
                    <button type="submit" class="form-control" class="btn btn-md btn-dark"> Submit </button>

                </div> 


            
             </div>
        </form>
</div>